<f:layout name="LeadGeneratorDefault" />

<f:section name="main">

<!-- Modal -->
<div id="pxa_lead_generator">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content" data-show-modal="{showModal}" data-disablepopup="{settings.disable_popup}" data-show="{settings.pages_before_show}" data-interval="{settings.time_before_show}">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">{settings.modal_header}</h4>
				</div>
				<div class="modal-body row">

					<h3>{settings.header1}</h3>

					<f:if condition="{content}">
						<f:then>
							<div class="body-content">
								<f:format.raw>{content}</f:format.raw>
							</div>
						</f:then>
						<f:else>
							<div id="pxa-lead-generator-for-powermail"></div>
						</f:else>
					</f:if>

				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-default" data-dismiss="modal"><f:translate key="tx_pxaleadgenerator_formlabel_close" /></button>

				</div>
			</div>
		</div>
	</div>

	<!-- Button trigger modal -->
	<button type="button" class="rotate sticky-btn btn btn-big show-modal{f:if(condition: '{settings.button_alignment} == \'left\'', then: ' sticky-button-left', else: ' sticky-button-right')}" data-toggle="modal" data-target="#myModal">{settings.button_label}</button>
</div>

</f:section>
